# OS artifacts
.DS_Store

# IDE artifacts
/.idea/

# Build artifacts
/target/
/build/

# Binary artifacts
/bin/

# Distribution artifacts
/dist/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
/.venv/
